{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>ABOU ME</title>
{% endblock title  %}
{%block header%}
<h2><span style="color:black">Sobre mi:</span></h2>

<td rowspan="2" class="descripcion">
   <span style="color:black">
    Me llamo Lucas Gutierrez, tengo 21 años, y estoy estudiando en la UBA (actuario en administracion), por lo que tambien me inscribi a programacion, con el objetivo de complementar mi carrera.
   Ademas tengo un local de ropa de niños, por lo que hice esta humilde web. Me disculpo por la falta de profesionalidad en codigo html y css,
   es mi primera vez. Trate de personalizar lo mas que pude, y experimentar con lo aprendido.
    Soy consciente de que debo mejorar mucho todavia e investigar mucho mas por mi cuenta. El mundo de programacion es grande
   y queda un largo camino por recorrer.
   
   Saludos.
   </span>
</td>
{%endblock header%}

