{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Tu Carrito</title>
{% endblock title  %}
{%block header%}
<h2><span style="color:black">Sobre nosotros:</span></h2>

<td rowspan="2" class="descripcion">
   <span style="color:black">
   Bienvenido a nuestro local de ropa chicos y chicas. Aca encontrarás lo último en moda urbana, diseños únicos, y prendas de calidad.
   Nuestra selección de ropa incluye una amplia variedad de remeras, camperas, pantalones y buzos, con una gran cantidad de opciones de tallas y estilos. 
   Además, trabajamos con las marcas más populares y de mayor calidad en la industria de la moda urbana para que puedas confiar en que estás adquiriendo productos duraderos y de alta calidad.
   En nuestro local, nos esforzamos por crear un ambiente comodo y amigable para nuestros clientes, por lo que siempre encontrarás un equipo de profesionales dispuestos a ayudarte y asesorarte en todo lo que necesites. Si estás buscando una experiencia de compra única y emocionante, ¡no dudes en visitarnos!
   </span>
</td>
{%endblock header%}

{% block signup %}
         
            <form class="signup" id="signup" action={% url 'inicio_principal:inicio' %} method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <table>
                  <h2>Carrito</h2>
                  <h3>Elegi tus productos favoritos: especifica que conjunto/s, y prenda/s queres. 
                     Deja tus datos para coordinar la entrega, que te llega a domicilio sin cargo (compras mayores a $15000).
                  </h3>
                  {{form.media}}
                  {{form}}
               </table>
               <button>Crear</button> 
            </form>
            <h2><span style="color:black">Conjunto1: $4800 1_buzo negro (stitch rosa) / $3300 2_babucha gris</span></h2>
            <h2><span style="color:black">Conjunto2: $4800 1_buzo negro (stitch azul) / $3300 2_babucha azul jaspeado</span></h2>
            <h2><span style="color:black">Conjunto3: $5100 1_buzo batik (stitch azul) / $5250 2_jean carpintero</span></h2>
            <h2><span style="color:black">Conjunto4: $5100 1_buzo gris R / $3300 2_babucha negra</span></h2>
            <h2><span style="color:black">Conjunto5: $5100 1_buzo terracota R / $3300 2_babucha azul</span></h2>
            {% endblock signup %}

{% block email %}
 <span class="info-contacto">style4child@gmail.com</span> 
{% endblock email %} 