{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Editar Usuario</title>
{% endblock title  %}

{% block header %}
<h1 class="titulo-seccion" style="color:black">Editar</h1>
{% endblock header %}

{% block signup%}
<form class="signup" action= {% url 'inicio_principal:editar_usuario' usuario.pk %} method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <button>Editar</button>
</form>
{% endblock signup %}


{%block email%}
 <span class="info-contacto">style4child@gmail.com</span> 
{%endblock email%}