{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Clientes</title>
{% endblock title  %}

{% block header %}

<a class="navbar-brand" href={% url 'inicio_principal:inicio' %}>Login</a>
{%if object_list%}

    {%for usuario in object_list%}
        <li>
            
                <a class="navbar-brand" href={% url 'inicio_principal:mostrar_usuario' usuario.id %}>{{usuario}}</a>
                <button>
                    <a class="navbar-brand" href={% url 'inicio_principal:editar_usuario' usuario.id %}>Editar</a>
                </button>
                <button>
                    <a class="navbar-brand" href={% url 'inicio_principal:eliminar_usuario' usuario.id %}>Eliminar</a>
                </button>
                
                <a href=""><i class=""></i>LOGIN</a>
                
        </li>
    {%endfor%}

{%else%}
        <h2> No hay datos sobre usuarios</h2>
{%endif%}
{% endblock header %}

{%block email%}
 <span class="info-contacto">style4child@gmail.com</span> 
{%endblock email%}