{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Clientes</title>
{% endblock title  %}

{% block header %}
<h1> <span style="color:black">Lista Clientes</span></h1>

{% endblock header %}

{% block signup %}
{%if object_list%}
    {%for usuario in object_list%}
        <ul>
            <li class="signup">
                Usuario: {{usuario.usuario}}
                    <button class="btn">
                        <a  href={% url 'inicio_principal:mostrar_usuario' usuario.pk %}>Mostrar</a>
                    </button>
                    <button class="btn">
                        <a  href={% url 'inicio_principal:editar_usuario' usuario.pk %}>Editar</a>
                    </button>
                    <button>
                        <a class="btn" href={% url 'inicio_principal:eliminar_usuario' usuario.pk %}>Eliminar</a>
                    </button>
            </li>
        </ul>
    {%endfor%}

{%else%}
        <h2> No hay datos sobre usuarios</h2>
{%endif%}
{% endblock signup %}

{%block email%}
 <span class="info-contacto">style4child@gmail.com</span> 
{%endblock email%}