{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Clientes</title>
{% endblock title  %}

{% block header %}
<h1>{{usuario.usuario}}</h1>
{% endblock header %}

{% block signup %}
<ul class="signup">
    <li>Usuario: {{usuario.usuario}}</li>
    <li>producto: {{usuario.producto}}</li>
    <li>conjunto: {{usuario.conjunto}}</li>
    <li>Telefono: {{usuario.telefono}}</li>
    <li>Email: {{usuario.email}}</li>
    <p>
        <button>
            <a class="btn" href={% url 'inicio_principal:editar_usuario' usuario.pk %}>Editar</a>
        </button>
        <button>
            <a class="btn" href={% url 'inicio_principal:eliminar_usuario' usuario.pk %}>Eliminar</a>
        </button>
    </p>
</ul>
{% endblock signup %}