{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Login</title>
{% endblock title  %}
{%block header%}
<h2><span style="color:black"> Cerrado de sesion exitoso</span></h2>
{%endblock header%}

{% block signup %}
<form class="signup" id="signup" action={% url 'inicio_principal:registrarse' %} method="POST">
   {% csrf_token %}
   <table>
      <h2>Registrarse</h2>
      <h3>¿Ya tenés tu cuenta?</h3>
      {{formulario}}
   </table>
   <button>Crear</button>
</form>
{% endblock signup %}

{% block login %}    
{% if formulario.errors%}
<h2 style="color:red">Error: contraseña o usuario incorrectos</h2>      
{% endif  %}
            <form class="signup" id="login" action={% url 'inicio_principal:login' %} method="POST">
               {% csrf_token %}
               <table>
                  <h2>Registrarse</h2>
                  <h3>¿Ya tenés tu cuenta?</h3>
                  {{formulario}}
               </table>
               <button>Crear</button>
               
            </form>
{% endblock login %}

{% block email %}
 <span class="info-contacto">style4child@gmail.com</span> 
{% endblock email %}