{% extends 'base.html' %}
{%load static%}

{% block title  %}
<title>Login</title>
{% endblock title  %}
{%block header%}
<h2><span style="color:black"> Cerrado de sesion exitoso</span></h2>
{%endblock header%}

{% block signup %}

{% endblock signup %}

{% block login %}    
{% if formulario.errors%}
<h2 style="color:red">Error: contraseña o usuario incorrectos</h2>      
{% endif  %}
            <form class="signup" id="login" action={% url 'usuarios:login' %} method="POST">
               {% csrf_token %}
               <table>
                  <h2>Iniciar sesion</h2>
                  {{formulario}}
               </table>
               <button>Iniciar Sesion</button>
               
            </form>
{% endblock login %}

{% block email %}
 <span class="info-contacto">style4child@gmail.com</span> 
{% endblock email %}